#checkoutPage {
    margin-bottom: 50px;
}
#checkoutBtn {
    width: 100%;
    background-color: var(--second-color);
    color: var(--white-color);
}
.cartShopLink {
    color: var(--first-color);
    font-weight: 700;
}
.checkoutRight {
    border: 1px dashed var(--second-color);
    border-radius: 10px;
    padding: 20px;
    background-color: var(--offwhite-color);
}

.checkoutLeft img {
    width: 100px !important;
}
.checkoutLeft input {
    width: 80px;
}
.incDecBtn {
    background-color: var(--first-color);
    padding: 7px 15px;
    border-radius: 5px;
    font-size: 25px;
    color: var(--white-color);
    cursor: pointer;
}

@media only screen and (min-width: 300px) and (max-width: 500px) {
    #cartIncDecPart {
        display: block !important;
    }
    #mobileBlock {
        display: block !important;
    }
}