#topbar {
    background: var(--black-color);
    color: #fff;
}
.hamBarIcon {
    display: none;
    color: var(--white-color);
    font-size: 25px;
}
#navbar {
    background-color: var(--first-color);
    padding: 20px 30px;
}
#navbar_logo {
    width: 190px;
}
.main_menu ul {
    list-style: none;
    padding-left: 0;
    margin-bottom: 0;
}
.main_menu ul li {
    display: inline-block;
    margin-right: 20px;
}
.main_menu ul li:last-child {
    margin-right: 0;
}
.main_menu ul li a {
    text-decoration: none;
    color: var(--white-color);
}
#productsMenuItem {
    position: relative;
}
#NavProductCategoryDisplayNone {
    display: none;
}
#NavProductCategoryDisplay {
    display: block;
}
.NavProductCategory {
    position: absolute;
    background-color: var(--first-color);
    left: 0;
    width: 300px;
    padding: 20px;
    border-radius: 5px;
    z-index: 50;
}
#NavProductCategoryDisplay ul li {
    display: block;
    padding: 10px 0;
}
.navbar_icon ul {
    list-style: none;
    padding-left: 0;
    margin-bottom: 0;
}
.navbar_icon ul li {
    display: inline-block;
    margin-right: 15px;
}
.navbar_icon ul li:last-child {
    margin-right: 0;
}
.navbar_icon ul li a {
    text-decoration: none;
    color: var(--white-color);
    font-size: 18px;
}
.hamBarIcon {
    margin-right: 20px;
    cursor: pointer;
}

#mobile_menu {
    width: 350px;
    height: 100%;
    top: 0;
    position: fixed;
    z-index: 3000;
    background-color: var(--white-color);
    padding: 20px;
    overflow-y: scroll;
}
.mobile_menu_hide {
    left: -350px;
    transition: .5s ease-in-out;
}
.mobile_menu_show {
    left: 0;
    transition: .5s ease-in-out;
}
.mobileDropdownMenuShow {
    display: block;
}
.mobileDropdownMenuHide {
    display: none;
}
.mobileDropdownMenuShow ul {
    margin-left: 20px !important;
    margin-top: 25px ;
}
.mobileDropdownMenuShow ul li {
    border-bottom: none !important;
    border-top: 1px solid var(--offwhite-color);
}
#closeIcon {
    font-size: 30px;
    cursor: pointer;
}
#mobile_menu_items {
    padding-top: 30px;
}
#mobile_menu_items ul li {
    padding: 15px 0;
    border-bottom: 1px solid var(--offwhite-color);
}
#mobile_menu_items ul li a {
    color: var(--first-color);
}
.mobile_get_direction {
    color: var(--first-color);
    font-weight: 700;
}

@media only screen and (min-width: 300px) and (max-width: 500px) {
    #navbar {
        background-color: var(--first-color);
        padding: 15px 10px;
    }
    #navbar_logo {
        width: 160px;
    }
    .hamBarIcon {
        display: block;
    }
    .main_menu {
        display: none;
    }
}