#topbar {
    background: var(--black-color);
    color: #fff;
}
.hamBarIcon {
    display: none;
    color: var(--white-color);
    font-size: 25px;
}
#navbar {
    background-color: var(--first-color);
    padding: 15px 30px;
}
#navbar_logo {
    width: 180px;
}

#productsMenuItem {
    position: relative;
}
#NavProductCategoryDisplayNone {
    display: none;
}
#NavProductCategoryDisplay {
    display: block;
}
.NavProductCategory {
    position: absolute;
    background-color: var(--first-color);
    left: 0;
    width: 300px;
    padding: 20px;
    border-radius: 5px;
    z-index: 50;
}
#NavProductCategoryDisplay ul li {
    display: block;
    padding: 10px 0;
}
.navbar_icon {
    text-align: end;
}
.navbar_icon ul {
    list-style: none;
    padding-left: 0;
    margin-bottom: 0;
}
.navbar_icon ul li {
    display: inline-block;
    margin-right: 15px;
}
.navbar_icon ul li:last-child {
    margin-right: 0;
}
.navbar_icon ul li a {
    text-decoration: none;
    color: var(--white-color);
    font-size: 18px;
}
.hamBarIcon {
    margin-right: 20px;
    cursor: pointer;
}

.NavSearchBar {
    flex-grow: 8;
}

.navMenuItems {
    padding: 15px 0;
    text-align: center;
    border-bottom: 1px solid #c4c4c4;
}
.navMenuItems ul {
    list-style: none;
    padding-left: 0;
    margin-bottom: 0;
}
.navMenuItems ul li {
    display: inline-block;
    margin-right: 20px;
}
.navMenuItems ul li:last-child {
    margin-right: 0;
}
.navMenuItems ul li a {
    text-decoration: none;
    color: var(--first-color);
}
.navMenuItems ul li a sup {
    background-color: var(--first-color);
    color: var(--white-color);
    padding: 0 2px;
    border-radius: 3px;
}
.pcMenuHome a {
    font-weight: 700;
}

#mobile_menu {
    width: 350px;
    height: 100%;
    top: 0;
    position: fixed;
    z-index: 3000;
    background-color: var(--white-color);
    padding: 20px;
    overflow-y: scroll;
}
.mobile_menu_hide {
    left: -350px;
    transition: .5s ease-in-out;
}
.mobile_menu_show {
    left: 0;
    transition: .5s ease-in-out;
}
.mobileDropdownMenuShow {
    display: block;
}
.mobileDropdownMenuHide {
    display: none;
}
.mobileDropdownMenuShow ul {
    margin-left: 20px !important;
    margin-top: 25px ;
}
.mobileDropdownMenuShow ul li {
    border-bottom: none !important;
    border-top: 1px solid var(--offwhite-color);
}
#mobile_menu ul li a sup {
    background-color: var(--first-color);
    color: var(--white-color);
    padding: 0 2px;
    border-radius: 3px;
}
#closeIcon {
    font-size: 30px;
    cursor: pointer;
}
#mobile_menu_items {
    padding-top: 30px;
}
#mobile_menu_items ul li {
    padding: 15px 0;
    border-bottom: 1px solid var(--offwhite-color);
}
#mobile_menu_items ul li a {
    color: var(--first-color);
}
.mobile_get_direction {
    color: var(--first-color);
    font-weight: 700;
}
.search_icon {
    color: var(--white-color) !important;
    font-size: 18px;
    cursor: pointer;
    display: none !important;
}
.search_right_side {
    width: 100%;
    background-color: var(--offwhite-color);
    position: absolute;
    right: 0;
    top: 0;
    height: 100%;
    z-index: 999;
    padding: 20px;
    transition: .5s ease-in-out;
}
.search_right_side_hide {
    right: 0px;
    width: 100%;
    background-color: var(--offwhite-color);
    position: absolute;
    top: -100%;
    height: 100%;
    z-index: 999;
    padding: 20px;
    transition: .5s ease-in-out;
}
.search_right_bar_close {
    cursor: pointer;
    margin-bottom: 30px;
    font-size: 22px;
}
.search_product_show {
    margin-top: 30px;
}
.search_product_show img {
    width: 100px !important;
}

@media only screen and (min-width: 300px) and (max-width: 500px) {
    #navbar {
        background-color: var(--first-color);
        padding: 15px 10px;
    }
    #navbar_logo {
        width: 160px;
    }
    .hamBarIcon {
        display: block;
    }
    .main_menu {
        display: none;
    }
    .navMenuItems {
        display: none;
    }
    .NavSearchBar {
        display: none;
    }
    .search_icon {
        display: inline-block !important;
    }
}
@media only screen and (min-width: 501px) and (max-width: 900px) {
    .main_menu {
        display: none;
    }
    .hamBarIcon {
        display: block;
    }
    .hamBarIcon {
        font-size: 30px;
    }
    .navMenuItems {
        display: none;
    }
    .NavSearchBar {
        display: none;
    }
    .search_icon {
        display: inline-block !important;
    }
}