#product_section_one {
  padding: 50px 0;
}
#product_section_one h3 {
  font-size: 35px;
}
.product_seemore {
  color: var(--first-color);
}
#product_details {
  margin-top: 20px;
}
#product_details h5 {
  color: var(--black-color);
}
#imageWrap {
  height: 360px;
  width: 100%;
  overflow: hidden;
  border-radius: 10px;
  background-color: var(--ash-color);
}
#imageWrap img {
  height: 100%;
}
#product_details #cart_btn {
  background-color: var(--first-color);
  color: var(--white-color);
}
.productWishlistBtn {
  font-size: 25px;
  color: var(--first-color);
}
.cross_taka {
  font-size: 20px;
  color: var(--ash-color);
  text-decoration: line-through;
}

#twoImageSection {
  padding: 50px 0;
}
#twoImageSection img {
  border-radius: 10px;
}
.twoImage {
  position: relative;
}
.twoImageContents {
  position: absolute;
  bottom: 30px;
  padding: 10px 40px;
}
.twoImageContents h3 {
  font-size: 35px;
  font-weight: 600;
}
.twoImageContents a {
  color: var(--first-color);
  text-decoration: underline !important;
}

#video_section {
  padding: 50px 0;
}
#video_section iframe {
  border-radius: 10px;
}

#nineSection {
  padding: 50px 0;
}
#nineSection h3 {
  font-size: 50px;
}
#nineSection img {
  border-radius: 10px;
}
#nineSection a {
  background: var(--first-color);
  color: var(--white-color);
}

#reviewSection {
  padding: 50px 0;
}
#reviewSection h3 {
  font-size: 35px;
}

#homeBlogSection {
  padding: 50px 0;
}
#homeBlogSection h3 {
  font-size: 35px;
}

#faqSection {
  padding: 50px 0;
}
#faqSection h3 {
  font-size: 35px;
}

#icon_box {
  padding: 50px 0;
  background: var(--white-color);
}
.iconBoxIcon {
  font-size: 40px;
  color: var(--first-color);
}

.reviewBox {
  border: 1px solid var(--ash-color);
  border-radius: 10px;
  padding: 20px;
}
.reviewBox ul li {
  display: inline-block;
  padding-right: 5px;
  color: var(--second-color);
}
#homeBlogSection a {
  color: var(--first-color);
}

.swiper_navigation {
  margin-bottom: 0;
}
.swiper_navigation li {
  display: inline-block;
  padding-right: 15px;
  font-size: 25px;
  color: var(--second-color);
}

@media only screen and (min-width: 300px) and (max-width: 500px) {
  #product_section_one {
    padding: 30px 0;
  }
  #twoImageSection {
    padding: 30px 0;
  }
  .twoImageContents h3 {
    font-size: 30px;
  }
  #video_section {
    padding: 30px 0;
  }
  #video_section iframe {
    height: 250px;
  }
  #nineSection {
    padding: 30px 0;
  }
  #nineSection h3 {
    margin-top: 30px;
    font-size: 35px;
  }
  #reviewSection {
    padding: 30px 0;
  }
  #homeBlogSection {
    padding: 30px 0;
  }

  #faqSection {
    padding: 30px 0;
  }
  #icon_box {
    padding: 30px 0;
  }
  #iconBoxItem {
    padding: 15px 0;
  }
}

@media only screen and (min-width: 501px) and (max-width: 1080px) {
  #iconBoxItem {
    padding: 15px 0;
  }
  #video_section iframe {
    height: 400px;
  }
}