#categoriesImage {
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}
#categoryName {
    background: var(--first-color);
    padding: 15px;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
}
#categoryName {
    color: var(--white-color);
}

#all_products h5 {
    color: var(--black-color);
}
#all_products p {
    color: var(--black-color);
}
.regular_price {
    text-decoration: line-through;
}
.salling_price {
    font-weight: 700;
    color: var(--first-color);
}
#all_products #select_btn {
    background-color: var(--first-color);
    width: 100%;
    color: var(--white-color);
}
#product_filtering {
    position: sticky;
    top: 0;
}

@media only screen and (min-width: 300px) and (max-width: 500px) {
    #product_card {
        width: 50%;
    }
}