@import url('https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=League+Spartan:wght@100..900&display=swap');

:root {
  --first-color: #7C3E3E;
  --second-color: #B25656;
  --black-color: #000000;
  --ash-color: #777777;
  --white-color: #ffffff;
  --offwhite-color: #eeeeee;
}

html,
body {
  overflow-x: hidden;
}

body {
  margin: auto !important;
  max-width: 2000px;
  background-color: var(--offwhite-color);
}
@media only screen and (min-width: 501px) and (max-width: 1080px) {
  .container-lg {
    --bs-gutter-x: 0 !important;
  }
}
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
h1, h2, h3, h4, h5, h6 {
  font-family: "League Spartan", sans-serif !important;
}
p {
  margin-bottom: 0 !important;
}
p, li, a, label, input, span, small {
  font-family: "Kumbh Sans", sans-serif !important;
}
button {
  font-family: "Kumbh Sans", sans-serif !important;
}
input::placeholder {
  font-size: 16px;
}
.btn-bg-white {
  background-color: var(--second-color) !important;
  color: var(--white-color) !important;
}
.btn-bg-dark {
  background-color: var(--white-color) !important;
  color: var(--first-color) !important;
}
a {
  text-decoration: none !important;
}
ul {
  list-style: none;
  padding-left: 0 !important;
}
.accordion-button:focus {
  border-color: none !important;
  box-shadow: none !important;
}
.accordion-button:not(.collapsed) {
  background-color: var(--offwhite-color) !important;
  color: var(--first-color) !important;
}
